.grid_circles2#sc_our_team .sc_team_member:hover .sc_team_member_name,
.grid_circles2#sc_our_team .sc_team_member:hover .sc_team_member_jobtitle {
    display: block;
}

.grid_circles2#sc_our_team .sc_team_member .icons {
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: 0.45s all ease-in-out;
    -moz-transition: 0.45s all ease-in-out;
    -webkit-transition: 0.45s all ease-in-out;
    bottom: 20%;
    margin: 0 auto;
    display: block;
    width: 100%;
    z-index: 9;
}

.grid_circles2#sc_our_team .sc_team_member .icons.hidden {
    display: none;
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_content {
    display: none;
}

.grid_circles2#sc_our_team .sc_team_member:hover .icons{
    opacity: 1;
}

.grid_circles2#sc_our_team .sc_team_member .icons img{
    width: 25px;
    margin-right: 5px;

}

.grid_circles2#sc_our_team .sc_team_member .sc_team_member_name {
    position: absolute;
    top: 40%;
    left: 0;
    margin: 0 auto;
    width: 70%;
    display: block;
    transition: 0.45s all ease-in-out;
    -moz-transition: 0.45s all ease-in-out;
    -webkit-transition: 0.45s all ease-in-out;
    opacity: 0.9;
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_member_name {
    width: 100%;
    text-align: center;
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_member_jobtitle {
    position: absolute;
    top: 40%;
    left: 0;
    margin: 24px auto;
    width: 75%;
    display: block;
    color: #ffffff;
    transition: 0.30s all ease-in-out;
    -moz-transition: 0.30s all ease-in-out;
    -webkit-transition: 0.30s all ease-in-out;
    opacity: 0.9;
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_member_name,
.grid_circles2#sc_our_team .sc_team_member .sc_team_member_jobtitle {
    display: none;
    transition: 0.40s all ease-in-out;
    -moz-transition: 0.40s all ease-in-out;
    -webkit-transition: 0.40s all ease-in-out;
    z-index: 99;
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_member_jobtitle {
    width: 100%;
    text-align: center;
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_member_jobtitle span {
    display: inline-block;
    border-top: 1px solid #898989;
    padding-top: 5px;
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_more {
    position: absolute;
    margin-top: -25px;
    width: 100%;
    transition: 0.45s all ease-in-out;
    -moz-transition: 0.45s all ease-in-out;
    -webkit-transition: 0.45s all ease-in-out;
    top: -25px;
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_more.show {
    top: 50%;
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_member_name a {
    color: #fff;
}

.grid_circles2#sc_our_team .sc_team_member {
    float: left;

    overflow: hidden;
    border-radius: 100%;
    text-align: center;
    box-shadow:
            0 0 0 4px #fff,
            0 0 0 7px #E2E2E2;
    position: relative;

}

.grid_circles2#sc_our_team .sc_team_member .wp-post-image {
    border: none;
    padding: 0;
    float: none;
    margin: 0;
    width: 100%;
    height: 100%;
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_member_overlay {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(50,50,50,0.7);
    color: #ffffff;
    display: none;
    border-radius: 100%;
}

.grid_circles#sc_our_team .sc_team_member .sc_team_member_overlay .sc_team_member_name,
.grid_circles2#sc_our_team .sc_team_member .sc_team_member_overlay .sc_team_member_name {
    margin-top: 30px;
    font-size: 18px;
}

.grid_circles2#sc_our_team .sc_team_member .sc_team_member_overlay .icons a {
    margin-right: 5px;
}

.grid_circles2#sc_our_team .icons img {
    width: 25px;
}

@media (min-width: 768px){

    #sc_our_team.grid_circles2.sc-col3 .sc_team_member {
        width: 31%;
        margin: 1%;
    }

    #sc_our_team.grid_circles2.sc-col4 .sc_team_member {
        width: 23%;
        margin: 1%;
    }

    #sc_our_team.grid_circles2.sc-col2 .sc_team_member {
        width: 48%;
        margin: 1%;
    }

}

@media( min-width: 767px ) and ( max-width: 980px ) {

    #sc_our_team.grid_circles2.sc-col4 .sc_team_member,
    #sc_our_team.grid_circles2.sc-col3 .sc_team_member,
    #sc_our_team.grid_circles2.sc-col2 .sc_team_member,
    #sc_our_team.grid_circles2.sc-col5 .sc_team_member {
        width: 45%;
        margin-right: 4%;
        margin-bottom: 15px;
    }

}

@media( max-width : 767px ) {

    #sc_our_team.grid_circles2.sc-col4 .sc_team_member,
    #sc_our_team.grid_circles2.sc-col3 .sc_team_member,
    #sc_our_team.grid_circles2.sc-col2 .sc_team_member,
    #sc_our_team.grid_circles2.sc-col5 .sc_team_member {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }

}

