#ots-widget .ots-team-member {
    width: 100%;
    overflow: hidden;
    margin: 0 0 10px 0;
}

#ots-widget .ots-team-member .ots-image {
    float: left;
    width: 25%;
    border: 1px solid #d0d0d0;
    padding: 3px;
    box-sizing: border-box;
    margin: 0;
}

#ots-widget .ots-team-member .ots-overlay {
    float: left;
    width: 75%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

#ots-widget .ots-team-member .ots-name {
    font-weight: bold;
}