/* Global Admin */

#menu-posts-team_member .wp-menu-image:before {
    color: #758355 !important;
}

#menu-posts-team_member:hover .wp-menu-image:before,
#menu-posts-team_member.wp-menu-open .wp-menu-image:before {
    color: #a7bb6c !important;
}

/* edit.php */

.ots-meta-box {
    border: none !important;
}

.ots-meta-box .regular-text {
    width: 100%;
}

.ots-meta-box input[disabled],
.ots-meta-box select[disabled],
.ots-meta-box textarea[disabled] {
    border: 1px solid #bbb;
}

.ots-member-skill-rating {
    width: 22%;
    float: right;
}

.ots-member-skill-title {
    width: 75%;
}

@media ( min-width: 769px ) {

    #team_member_image {
        width: 20%;
    }

    #team_member_image,
    .column-team_member_image {
        text-align: center;
    }

    #ots-member-other-icon {
        width: 28%;
    }

    #ots-member-other {
        width: 70%;
        float: right;
    }
}

.ots-pro {
    color: #ff0000;
}