.ots-documentation .form-table th,
.ots-documentation .form-table td {
    display: block;
}

.ots-documentation .form-table th {
    width: 100%;
    padding: 15px 0 5px 0;
    margin: 0 20px 0 20px;
    font-size: 16px;
}

.ots-documentation .form-table td {
    padding: 10px 20px;
}

.ots-documentation .form-table td p {
    margin: 0 10px 15px 10px;
}

.ots-documentation .media img {
    max-width: 100%;
}