.ots-member {
    display: inline-block;
    background: #fff;
    border: 1px solid #ddd;
    height: 290px;
    vertical-align: top;
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    position: relative;
    margin: 10px auto;
}

.ots-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.ots-member .edit {
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    opacity: 0;
    position: absolute;
    right: 0;
    margin: -10px;
    background: #0085ba;
    border-radius: 50%;
    padding: 4px;
    z-index: 2;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.ots-member:hover > .edit {
    opacity: 1;
}

.ots-member .edit:hover {
    filter: brightness(110%);
}

.ots-member .inner {
    padding: 10px;
}

.ots-member .inner .thumbnail {
    height: 200px;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.ots-member .name,
.ots-member .job-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ots-member .name {
   margin-bottom: 4px;
}

@media screen and (min-width: 768px) {

    .ots-member {
        max-width: 31%;
        margin: 10px 5px;
    }

}

@media screen and (min-width: 1025px) {

    .ots-member {
        max-width: 18.5%;
    }

}